.music-note {
    background-color: blue;
    border-radius: 50%;
}

#score {
    color: white;
}

#lives {
    color: red;
}

#game-board {
    border: 2px solid black;
    width: 40vw;
    height: 80vh;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    background-color: white;
    padding: 2px
}
.keynote {
    border: 1px solid red;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
}

h1 {
    color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
}

.stats {
    display: flex;
    flex-direction: column;
}
    
    